.meu-header-personalizado {
  /* Altera a cor de fundo do header */
  --background: #334a85; 
  
  /* Altera a cor do texto do header (opcional) */
  --color: #ffffff; 
}

.page-content {
  flex: 1;
  min-height: 0;
  position: relative;
}